@import "bourbon/bourbon";

//
// Turns an element into a hole.
// Uses :after and :before selector.
//
// Usage:
// .marble {
//   height: 20px;
//   width: 20px;
//   @include marble()
//   @include marble-color(#339);
// }
//
@mixin hole() {
  overflow: hidden;
  display: block;
  position: relative;
  border-radius: 50%;
  background: black;

  &:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    bottom: -140%;
    right: -10%;
    opacity: 1;
    height: 250%;
    width: 180%;
    z-index: 2;
    @include background-image(radial-gradient(circle at 50% 40%, #777, #000 70%));
  }

}