@import "bourbon/bourbon";

//
// Turns an element into a marble.
// Uses :after and :before selector.
//
// Usage:
// .marble {
//   height: 20px;
//   width: 20px;
//   @include marble()
//   @include marble-color(#339);
// }
//
@mixin marble() {
  /* marble-mixnin */
  display: inline-block;
  position: relative;
  border-radius: 50%;
  box-shadow: 1px 2px 1px rgba(25, 25, 25, 0.25);
  overflow: hidden;
  // Hide text
  color: transparent;
  // Disable selection
  @include user-select(none);

  &:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.6;
    height: 100%;
    width: 90%;
    z-index: 2;
  }
  &:after {
    content: "";
    width: 70%;
    height: 50%;
    position: absolute;
    top: 5%;
    left: 15%;
    border-radius: 50%;
  }
}

//
// @see marble();
//
@mixin marble-color($color) {
  background: $color;
  @include background-image(radial-gradient(50% 120%, circle cover, lighten($color, 0.15), lighten($color, 0.03) 80%, $color 100%));

  &:before {
    @include background-image(radial-gradient(50% 120%, circle cover, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%));
  }
  &:after {
    @include linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  }
}