@import "bourbon/bourbon";
@import "reset.scss";
@import "marble";
@import "hole";


.peg {
  @include marble();
  @include size(2.5em 2.5em);
  z-index: 5;
  cursor: hand;

  // Colors .peg.red .. .peg.black
  $colorList: "red" #600,
              "purple" #631f66,
              "blue" #339,
              "yellow" #c0b200,
              "orange" #9e3f00,
              "green" #361,
              "white" #d6d6d6,
              "black" #222222;

  @each $colorSet in $colorList {
    $color: nth($colorSet, 2);
    $name: nth($colorSet, 1);
    &.#{$name} {
      @include marble-color($color);
      &:hover {
        @include marble-color(darken($color, 10));
      }
    }
  }

  // Drag'n'drop clone:
  &.ghost {
    position: absolute;
    opacity: 0.9;
    cursor: none;
  }

}


.guessRows {
  display:inline-block;
  padding: 0 1em;

  @include background-image(linear-gradient(to right, rgba(58, 58, 58, 1) 1%, rgba(89, 89, 89, 1) 6%, rgba(102, 102, 102, 1) 51%, rgba(89, 89, 89, 1) 94%, rgba(58, 58, 58, 1) 100%));

  .guess {
    @include clearfix();
  }

  .pegContainer {
    float: left;
    display:block;
    margin: 0.5em 0.3em;
    @include hole();
    @include size(2.5em 2.5em);

    .peg {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
    }
  }


}