/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.peg {
  /* marble-mixnin */
  display: block;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.5em;
  height: 2.5em;
  z-index: 5;
  cursor: hand; }
  .peg:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.6;
    height: 100%;
    width: 90%;
    z-index: 2; }
  .peg:after {
    content: "";
    width: 70%;
    height: 50%;
    position: absolute;
    top: 5%;
    left: 15%;
    border-radius: 50%; }
  .peg.red {
    background: #660000;
    background-image: -webkit-radial-gradient(50% 120%,  circle cover, #670000, #660000 80%, #660000 100%);
    background-image: radial-gradient( circle  at 50% 120%, #670000, #660000 80%, #660000 100%); }
    .peg.red:before {
      background-image: -webkit-radial-gradient(50% 120%,  circle cover, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
      background-image: radial-gradient( circle  at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%); }
    .peg.red:after {
      background-color: rgba(255, 255, 255, 0.4);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0)));
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
      background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }
    .peg.red:hover {
      background: #330000;
      background-image: -webkit-radial-gradient(50% 120%,  circle cover, #340000, #330000 80%, #330000 100%);
      background-image: radial-gradient( circle  at 50% 120%, #340000, #330000 80%, #330000 100%); }
      .peg.red:hover:before {
        background-image: -webkit-radial-gradient(50% 120%,  circle cover, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
        background-image: radial-gradient( circle  at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%); }
      .peg.red:hover:after {
        background-color: rgba(255, 255, 255, 0.4);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0)));
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
        background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }
  .peg.purple {
    background: #631f66;
    background-image: -webkit-radial-gradient(50% 120%,  circle cover, #641f67, #631f66 80%, #631f66 100%);
    background-image: radial-gradient( circle  at 50% 120%, #641f67, #631f66 80%, #631f66 100%); }
    .peg.purple:before {
      background-image: -webkit-radial-gradient(50% 120%,  circle cover, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
      background-image: radial-gradient( circle  at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%); }
    .peg.purple:after {
      background-color: rgba(255, 255, 255, 0.4);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0)));
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
      background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }
    .peg.purple:hover {
      background: #3d133f;
      background-image: -webkit-radial-gradient(50% 120%,  circle cover, #3e133f, #3d133f 80%, #3d133f 100%);
      background-image: radial-gradient( circle  at 50% 120%, #3e133f, #3d133f 80%, #3d133f 100%); }
      .peg.purple:hover:before {
        background-image: -webkit-radial-gradient(50% 120%,  circle cover, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
        background-image: radial-gradient( circle  at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%); }
      .peg.purple:hover:after {
        background-color: rgba(255, 255, 255, 0.4);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0)));
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
        background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }
  .peg.blue {
    background: #333399;
    background-image: -webkit-radial-gradient(50% 120%,  circle cover, #33339a, #333399 80%, #333399 100%);
    background-image: radial-gradient( circle  at 50% 120%, #33339a, #333399 80%, #333399 100%); }
    .peg.blue:before {
      background-image: -webkit-radial-gradient(50% 120%,  circle cover, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
      background-image: radial-gradient( circle  at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%); }
    .peg.blue:after {
      background-color: rgba(255, 255, 255, 0.4);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0)));
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
      background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }
    .peg.blue:hover {
      background: #262673;
      background-image: -webkit-radial-gradient(50% 120%,  circle cover, #262673, #262673 80%, #262673 100%);
      background-image: radial-gradient( circle  at 50% 120%, #262673, #262673 80%, #262673 100%); }
      .peg.blue:hover:before {
        background-image: -webkit-radial-gradient(50% 120%,  circle cover, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
        background-image: radial-gradient( circle  at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%); }
      .peg.blue:hover:after {
        background-color: rgba(255, 255, 255, 0.4);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0)));
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
        background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }
  .peg.yellow {
    background: #c0b200;
    background-image: -webkit-radial-gradient(50% 120%,  circle cover, #c1b300, #c0b200 80%, #c0b200 100%);
    background-image: radial-gradient( circle  at 50% 120%, #c1b300, #c0b200 80%, #c0b200 100%); }
    .peg.yellow:before {
      background-image: -webkit-radial-gradient(50% 120%,  circle cover, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
      background-image: radial-gradient( circle  at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%); }
    .peg.yellow:after {
      background-color: rgba(255, 255, 255, 0.4);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0)));
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
      background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }
    .peg.yellow:hover {
      background: #8d8300;
      background-image: -webkit-radial-gradient(50% 120%,  circle cover, #8e8300, #8d8300 80%, #8d8300 100%);
      background-image: radial-gradient( circle  at 50% 120%, #8e8300, #8d8300 80%, #8d8300 100%); }
      .peg.yellow:hover:before {
        background-image: -webkit-radial-gradient(50% 120%,  circle cover, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
        background-image: radial-gradient( circle  at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%); }
      .peg.yellow:hover:after {
        background-color: rgba(255, 255, 255, 0.4);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0)));
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
        background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }
  .peg.orange {
    background: #9e3f00;
    background-image: -webkit-radial-gradient(50% 120%,  circle cover, #9f3f00, #9e3f00 80%, #9e3f00 100%);
    background-image: radial-gradient( circle  at 50% 120%, #9f3f00, #9e3f00 80%, #9e3f00 100%); }
    .peg.orange:before {
      background-image: -webkit-radial-gradient(50% 120%,  circle cover, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
      background-image: radial-gradient( circle  at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%); }
    .peg.orange:after {
      background-color: rgba(255, 255, 255, 0.4);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0)));
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
      background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }
    .peg.orange:hover {
      background: #6b2b00;
      background-image: -webkit-radial-gradient(50% 120%,  circle cover, #6c2b00, #6b2b00 80%, #6b2b00 100%);
      background-image: radial-gradient( circle  at 50% 120%, #6c2b00, #6b2b00 80%, #6b2b00 100%); }
      .peg.orange:hover:before {
        background-image: -webkit-radial-gradient(50% 120%,  circle cover, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
        background-image: radial-gradient( circle  at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%); }
      .peg.orange:hover:after {
        background-color: rgba(255, 255, 255, 0.4);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0)));
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
        background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }
  .peg.green {
    background: #336611;
    background-image: -webkit-radial-gradient(50% 120%,  circle cover, #336711, #336611 80%, #336611 100%);
    background-image: radial-gradient( circle  at 50% 120%, #336711, #336611 80%, #336611 100%); }
    .peg.green:before {
      background-image: -webkit-radial-gradient(50% 120%,  circle cover, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
      background-image: radial-gradient( circle  at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%); }
    .peg.green:after {
      background-color: rgba(255, 255, 255, 0.4);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0)));
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
      background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }
    .peg.green:hover {
      background: #1d3a0a;
      background-image: -webkit-radial-gradient(50% 120%,  circle cover, #1d3b0a, #1d3a0a 80%, #1d3a0a 100%);
      background-image: radial-gradient( circle  at 50% 120%, #1d3b0a, #1d3a0a 80%, #1d3a0a 100%); }
      .peg.green:hover:before {
        background-image: -webkit-radial-gradient(50% 120%,  circle cover, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
        background-image: radial-gradient( circle  at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%); }
      .peg.green:hover:after {
        background-color: rgba(255, 255, 255, 0.4);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0)));
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
        background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }
  .peg.white {
    background: #d6d6d6;
    background-image: -webkit-radial-gradient(50% 120%,  circle cover, #d6d6d6, #d6d6d6 80%, #d6d6d6 100%);
    background-image: radial-gradient( circle  at 50% 120%, #d6d6d6, #d6d6d6 80%, #d6d6d6 100%); }
    .peg.white:before {
      background-image: -webkit-radial-gradient(50% 120%,  circle cover, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
      background-image: radial-gradient( circle  at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%); }
    .peg.white:after {
      background-color: rgba(255, 255, 255, 0.4);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0)));
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
      background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }
    .peg.white:hover {
      background: #bdbdbd;
      background-image: -webkit-radial-gradient(50% 120%,  circle cover, #bdbdbd, #bdbdbd 80%, #bdbdbd 100%);
      background-image: radial-gradient( circle  at 50% 120%, #bdbdbd, #bdbdbd 80%, #bdbdbd 100%); }
      .peg.white:hover:before {
        background-image: -webkit-radial-gradient(50% 120%,  circle cover, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
        background-image: radial-gradient( circle  at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%); }
      .peg.white:hover:after {
        background-color: rgba(255, 255, 255, 0.4);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0)));
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
        background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }
  .peg.black {
    background: #222222;
    background-image: -webkit-radial-gradient(50% 120%,  circle cover, #222222, #222222 80%, #222222 100%);
    background-image: radial-gradient( circle  at 50% 120%, #222222, #222222 80%, #222222 100%); }
    .peg.black:before {
      background-image: -webkit-radial-gradient(50% 120%,  circle cover, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
      background-image: radial-gradient( circle  at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%); }
    .peg.black:after {
      background-color: rgba(255, 255, 255, 0.4);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0)));
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
      background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }
    .peg.black:hover {
      background: #090909;
      background-image: -webkit-radial-gradient(50% 120%,  circle cover, #090909, #090909 80%, #090909 100%);
      background-image: radial-gradient( circle  at 50% 120%, #090909, #090909 80%, #090909 100%); }
      .peg.black:hover:before {
        background-image: -webkit-radial-gradient(50% 120%,  circle cover, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
        background-image: radial-gradient( circle  at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%); }
      .peg.black:hover:after {
        background-color: rgba(255, 255, 255, 0.4);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0)));
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
        background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }
  .peg.ghost {
    position: absolute;
    opacity: 0.9;
    cursor: none; }

.guessRows {
  display: inline-block;
  padding: 0 1em;
  background-image: -webkit-linear-gradient(left, #3a3a3a 1%, #595959 6%, #666666 51%, #595959 94%, #3a3a3a 100%);
  background-image: linear-gradient(to right, #3a3a3a 1%, #595959 6%, #666666 51%, #595959 94%, #3a3a3a 100%); }
  .guessRows .guess {
    *zoom: 1; }
    .guessRows .guess:before, .guessRows .guess:after {
      content: " ";
      display: table; }
    .guessRows .guess:after {
      clear: both; }
  .guessRows .pegContainer {
    float: left;
    display: block;
    margin: 0.5em 0.3em;
    overflow: hidden;
    display: block;
    position: relative;
    border-radius: 50%;
    background: black;
    width: 2.5em;
    height: 2.5em; }
    .guessRows .pegContainer:before {
      content: "";
      position: absolute;
      border-radius: 50%;
      bottom: -140%;
      right: -10%;
      opacity: 1;
      height: 250%;
      width: 180%;
      z-index: 2;
      background-image: -webkit-radial-gradient(50% 40%,  circle, #777777, black 70%);
      background-image: radial-gradient(  circle at 50% 40%, #777777, black 70%); }
    .guessRows .pegContainer .peg {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10; }
